@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: roboto-r;
    src: url(../font/Roboto-Regular.ttf)
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto-r
}

.day ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 4px;
    margin-left: 12px;
}

.add-member {
    font-size: 14px;
    height: 25px;
    width: 80px;
    display: flex;
}

.day ul li {
    padding: 2px 5px;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.day .close {
    cursor: pointer;
    margin-left: 2px;
    line-height: 18px;
    color: #fff;
    transform: scale(0.7);
}

    .day .close:hover {
        background: #bbb;
    }

.bg-nen {
    background-image: url(../images/stock-photo-173343119.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.text-edit {
    background: none !important;
    border: none;
}

.day .bg-white {
    background: #fff;
}

.day {
    background: #ebecf0;
    border-radius: 7px;
    margin-top: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

    .day .activity {
        background: #ffffff;
        color: #606060;
        font-size: 14px;
        border-radius: 5px;
        z-index: 10;
        margin-top: 5px;
        padding-bottom: 5px;
    }

    .day .add-activity {
        padding: 5px;
        margin: 10px 0;
        font-size: 14px;
        color: #5e6c84;
        width: 100%;
        border: none;
    }

.bg-edit {

}

.bg-hover {
    z-index: 10;
    margin: 5px;
    display: block;
}

.activity:hover > .bg-hover {
    display: block;
}

.edit {
    border: none;
    border-radius: 3px;
}

.day .add-activity:hover {
    background: #D9DADD;
}

.day .tittle {
    font-family: roboto-r;
    font-size: 16px;
}

.text-add {
    margin-top: 5px;
}

.form-sua
{
    position: relative;
    
}